main {
    width: 100%;
    height: auto;
    display: flex;
    padding: 30px;
    gap: 100px;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid */
}

main .partner-image{
    flex: 1;
    min-width: 250px;
    overflow: hidden;
}

main .partner-image img{
    width: 100%;
}

.partner-content{
    flex: 1.5;
    min-width: 250px;
}

.account-details{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.account-details > div{
    width: max-content;
    height: max-content;
    min-width: 250px;
    background-color: rgb(51, 93, 208);
    color: white;
    border-radius: 5px;
    overflow: hidden;
}

.partner-content > h1{
    color: rgb(29, 23, 34);
}

.account-details > div > div{
    padding: 10px
}

.account-details > div > h3{
    background-color: rgba(0, 0, 0, 0.686);
    width: 100%;
    padding: 10px;

}

.account-content div {
margin-bottom: 15px;
}